@font-face {
    font-family: 'Simpsonfont' !important;
    src: url('file:\Users\circu\OneDrive\School\UW\Git\Word-Guess-Game\assets\fonts\Simpsonfont.woff') format('woff') !important;
}

body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("../../assets/images/simpsWallpaper.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



h1 {
    font-family: Simpsonfont !important;
}

.contentbackdrop {
    background-color: #FFD90F;
    border-radius: 5%;
    border: solid 5px white;
}

.introText{
    text-align: center;
}

.img-main {
    height: 400px !important;
    background-color: transparent !important;
    border: none !important;
}

.imgGuess {
    height: 200px !important;
    background-color: transparent !important;
    border: none !important;
    padding-top: 10px;
}

.img-top{
    background-color: transparent !important;
    border: none !important;
}

#fillunderscore {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

